

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;500&display=swap');


:root{
    --navbar: #213041;
    --background: #0B1D26;
    --blanco: #f3f4f6;
    --amarillo: #f4a746;
    --border: #000113;
    --nebulalogo: #6fbce6;
    --negro: #000000;
    --gris: #9b9b9b;
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

}


.header{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 100%;
    
    
    
}

.navbar,
.nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    
}    

.logo img {
    height: 60px;
    width: auto;
    
}

.nav-list li a{
    color: var(--negro);
    text-decoration: none;
   
}
#menu-toggle,
.menu-label{
    display: none;
}

.titulo{
    display: flex;
    flex-direction: column;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-left: 10%;
    margin-top: 10%;
    transition-property: all;
    width: 100%;
    transition-duration: .30s;
}

.titulo h1{
    font-family: bebas neue;
    font-size: 100px;
    display: flex;
    justify-content: end;
    width: 50%;
	
}

.titulo p{
    font-family: roboto;
    font-size: 48px;
    margin-left: 33.333%;
    margin-right: 8.333%;

}

.separador1{
    padding-top: 15%;
    
    width: 100%;
}
.separador1 img{
    
    min-height: 100vh;
    height: 100%;
}

